*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
	
input{
	text-align: right;
}

.operations{
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}
table {
  border-spacing: 15px;
}

.btn{
	background-color: #808080;
}